body{
margin:0;
font-family:sans-serif;
background:#1e1f22;
color:white;
text-align:center;
}

.auth-box{
margin-top:100px;
background:#2b2d31;
padding:30px;
display:inline-block;
border-radius:15px;
}

input{
display:block;
margin:10px auto;
padding:10px;
border:none;
border-radius:8px;
width:220px;
}

button{
padding:8px 15px;
margin:5px;
border:none;
border-radius:8px;
background:#5865f2;
color:white;
cursor:pointer;
}

.small-text{
font-size:13px;
margin-top:10px;
}

.small-text span{
color:#5865f2;
cursor:pointer;
font-weight:bold;
}

#messages{
height:300px;
overflow-y:auto;
background:#2b2d31;
margin:20px;
padding:10px;
border-radius:10px;
}
