body{
margin:0;
font-family:gg sans, sans-serif;
background:#313338;
color:white;
}

.layout{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:260px;
background:#2b2d31;
padding:12px;
display:flex;
flex-direction:column;
gap:8px;
border-right:1px solid #202225;
}

.sidebar h3{
margin:10px 0;
font-size:14px;
opacity:0.7;
}

.sidebar button{
background:#404249;
border:none;
color:white;
padding:6px;
border-radius:6px;
cursor:pointer;
}

.sidebar button:hover{
background:#5865f2;
}

/* CHAT */

.chat{
flex:1;
display:flex;
flex-direction:column;
padding:10px;
}

#messages{
flex:1;
overflow-y:auto;
background:#2b2d31;
border-radius:8px;
padding:10px;
}

.message{
padding:6px;
border-bottom:1px solid #3f4147;
}

input{
padding:8px;
border-radius:6px;
border:none;
background:#1e1f22;
color:white;
}

input:focus{
outline:none;
border:1px solid #5865f2;
}

button{
padding:8px 12px;
border:none;
border-radius:6px;
background:#5865f2;
color:white;
cursor:pointer;
}
