body {
  margin:0;
  font-family:sans-serif;
}

.hidden {
  display:none;
}

#appScreen {
  display:flex;
  height:100vh;
}

#servers {
  width:70px;
  background:#1e1f22;
}

#middlePanel {
  width:250px;
  background:#2b2d31;
}

#chatPanel {
  flex:1;
  background:#313338;
}
