body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #2b2d31;
  color: white;
}

/* AUTH */

#auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1f22;
}

.auth-box {
  background: #2b2d31;
  padding: 40px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: #1e1f22;
  color: white;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background: #5865f2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* CHAT */

#chat {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  background: #1e1f22;
  padding: 15px;
}

#serverList div {
  padding: 10px;
  background: #2b2d31;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

#serverList div:hover {
  background: #404249;
}

#channelArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  background: #2b2d31;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#inputArea {
  display: flex;
  padding: 15px;
  background: #1e1f22;
}

#inputArea input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #2b2d31;
  color: white;
}

#inputArea button {
  margin-left: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background: #5865f2;
  color: white;
  cursor: pointer;
}
