body{
margin:0;
font-family:sans-serif;
background:#1e1f22;
color:white;
text-align:center;
}

input{
padding:8px;
margin:5px;
border:none;
border-radius:6px;
background:#2b2d31;
color:white;
}

button{
padding:8px 12px;
border:none;
border-radius:6px;
background:#5865f2;
color:white;
cursor:pointer;
}

#serverList div{
background:#2b2d31;
padding:8px;
margin:5px;
border-radius:6px;
cursor:pointer;
}
