body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
display:flex;
justify-content:center;
}

.container{
width:100%;
max-width:420px;
padding:20px;
}

.logo{
width:160px;
display:block;
margin:auto;
}

.login-box,
.user-panel{
background:#181818;
padding:15px;
border-radius:10px;
}

input{
padding:8px;
border-radius:6px;
border:none;
background:#222;
color:white;
margin-bottom:5px;
}

button{
padding:8px;
border:none;
border-radius:6px;
background:#5865f2;
color:white;
cursor:pointer;
}

button:hover{
background:#4752c4;
}

.slider{
display:flex;
overflow-x:auto;
gap:10px;
}

.card{
min-width:160px;
background:#222;
padding:10px;
border-radius:8px;
}

/* RARITY COLORS */

.common{color:white;}
.rare{color:#4da6ff;}
.legendary{color:#ffcc00;}
.mythic{color:#ff0066;}
.op{color:red;}
.event{color:#00ff88;}

.admin-panel{
background:#111;
padding:10px;
border-radius:8px;
margin-top:10px;
  }
