body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:100%;
max-width:420px;
padding:20px;
}

/* LOGO FIX */
.logo-wrapper{
text-align:center;
margin-bottom:20px;
}

.logo{
width:200px;
max-width:100%;
display:block;
margin:auto;
filter:drop-shadow(0 0 15px #5865f2);
}

/* BOXES */

.login-box,
.username-box,
.user-panel{
background:#181818;
padding:20px;
border-radius:15px;
display:flex;
flex-direction:column;
gap:10px;
}

/* INPUT */

input,select{
padding:10px;
border-radius:8px;
border:none;
background:#222;
color:white;
}

/* BUTTON */

button{
padding:10px;
border-radius:8px;
border:none;
background:#5865f2;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
background:#4752c4;
}

.google{
background:#db4437;
}

.dropdown{
background:#222;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.admin-panel{
background:#2a2a2a;
padding:15px;
border-radius:10px;
margin-top:15px;
}
