body{
margin:0;
font-family:sans-serif;
background:#1e1f22;
color:white;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
background:#2b2d31;
padding:10px;
}

.sidebar button{
width:100%;
}

.sidebar div{
padding:6px;
background:#40444b;
margin:4px 0;
border-radius:6px;
cursor:pointer;
}

.chat{
flex:1;
padding:10px;
}

#messages{
height:300px;
overflow-y:auto;
background:#2b2d31;
padding:10px;
border-radius:10px;
}

input{
padding:8px;
border-radius:6px;
border:none;
margin:5px 0;
}

button{
padding:6px 10px;
background:#5865f2;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}
