body {
  margin: 0;
  font-family: Arial;
  background: #1e1f22;
  color: white;
  text-align: center;
}

#messages {
  height: 60vh;
  overflow-y: auto;
  padding: 10px;
}

#inputArea {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#inputArea input {
  width: 60%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}
