body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
display:flex;
justify-content:center;
}

.container{
width:100%;
max-width:420px;
padding:20px;
}

.logo{
width:180px;
display:block;
margin:auto;
}

.login-box,
.username-box,
.user-panel{
background:#181818;
padding:15px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:8px;
border-radius:6px;
border:none;
background:#222;
color:white;
}

button{
padding:8px;
border:none;
border-radius:6px;
background:#5865f2;
color:white;
cursor:pointer;
}

button:hover{
background:#4752c4;
}

.pet-card{
background:#222;
padding:8px;
border-radius:6px;
margin-top:5px;
}
